#body {
 position:relative;
}
#sidebar {
 float:right;
 top:0;
 right:0;
 width:10%;
 #margin-left: 60px;
 }
 
#content {
 float:right;
 right:0;
 top:0;
}

#load_details {
 float:right;
 right:0;
 top:0;
 margin: 100px 100px 0px 0px;
 width:30%;
}

.error {
  color: red;
}